body {
  padding: 0;
  margin: 0;
}

.excalidraw-wrapper {
  width: 100vw;
  height: 100vh;
}

kbd {
  color: var(--text-primary-color);
}

.excalidraw .App-menu_top .Stack_vertical .Island {
  min-width: 204px;
}
