body {
  padding: 0;
  margin: 0;
}
.excalidraw-wrapper {
  width: 100vw;
  height: 100vh;
}

.App-menu_top > :first-child .Stack.Stack_horizontal {
  display: none !important;
}

.github-corner {
  display: none !important;
}

.App-bottom-bar .Stack.Stack_vertical > button {
  display: none !important;
}

.encrypted-icon {
  display: none !important;
}

kbd {
  color: var(--text-primary-color);
}
